<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
</head>
<body>
    <h1><a href="/calculator/" >Calculator</a> &nbsp
        <a href="/timings/" >Timings</a> &nbsp
        <a href="/agents/" >Agent Monitoring </a>
    <h1>
        <br>
        <h2>AGENT MONITORING</h2>
        <br>
        <button onclick="location.reload()">Refresh</button>
    <h3>
    <ul id="item-list">
        {{range .}}
            {{if .Display}}
                <li> Port: {{.Port}}  &nbsp; Status: {{.Status}} <br>
                Times not responded: {{.NotResponded}} <br></li>
            {{end}}
        {{end}}
    </ul>
    </h3>
    <form hx-post="/addagent/"  hx-target="#item-list" hx-select="#item-list" hx-swap="outerHTML">
        <input type="search" name="agentport" placeholder="Enter agent's port to add it">
        <button type="submit">Add</button>
    </form>
</body>
</html>